@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1080 {
  @media (max-width: 1080px) {
    @content;
  }
}

@mixin vp-720 {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: 374px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue: #2c39f2;
$color-torch-red: #ff1553;
$color-dodger-blue: #0087ea;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;

  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Regular.woff2') format('woff2'),
    url('../fonts/Stem-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Medium.woff2') format('woff2'),
    url('../fonts/Stem-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('../fonts/Stem-Bold.woff2') format('woff2'),
    url('../fonts/Stem-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-family: 'Stem', sans-serif;
  --second-family: 'Gilroy', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: #000;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 34px 40px;
  background-color: #ffffff;
  color: rgba(20, 20, 21, 0.8);

  @media (max-width: 1200px) {
    padding: 20px;
  }

  &__logo {
    color: $color-dodger-blue;
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    margin-right: 10px;
  }
}

.main-nav {
  margin-top: 4px;

  &__wrapper {
    display: flex;
  }

  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;
    gap: 4px;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: right;
    color: rgba(20, 20, 21, 0.8);
    transition: $trans-default;

    &:hover,
    &:focus {
      color: rgba(20, 20, 21, 1);
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-align: right;
    color: #141415;
    transition: $trans-default;

    @media (max-width: 1200px) {
      display: none;
    }

    &:hover,
    &:focus {
      color: rgba(20, 20, 21, 0.8);
    }
  }

  &__toggle {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;
  background-color: #ffffff;
}

.menu > li {
  margin: 0 12px;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    &:last-of-type {
      height: 3em;
    }
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #222;
    background-color: #ffffff;
  }

  @media (max-width: 400px) {
    .menu {
      margin-top: 103px;
    }
  }
}

.description {
  width: 100%;
  display: grid;
  grid-template-columns: 51% 1fr;

  @include vp-720 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include vp-1080 {
      padding-left: 20px;
    }

    @include vp-720 {
      padding: 0 20px;
      padding-bottom: 20px;
    }
  }

  &__textWrapper {
    margin-bottom: 2px;
    margin-left: 40px;
    width: 445px;

    @include vp-1080 {
      width: 100%;
      margin-left: 0;
    }

    @include vp-720 {
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    color: $color-default-black;

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &__slogan {
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);

    @include vp-1080 {
      margin-top: 20px;
      font-size: 20px;
    }

    @include vp-720 {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  &__btnBlock {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    @include vp-1080 {
      margin-top: 20px;
      gap: 15px;
    }

    @include vp-720 {
      flex-wrap: wrap;
    }
  }

  &__servicesBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 10px 20px;
    width: 124px;
    min-height: 56px;
    background: $color-dodger-blue;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    transition: $trans-default;

    &:hover,
    &:focus {
      background: rgba(0, 135, 234, 0.8);
    }
  }

  &__aboutBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 10px 20px;
    width: 167px;
    min-height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #0087ea;
    transition: $trans-default;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &__label {
    margin-top: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.4);
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f7f8fa;

  @include vp-1080 {
    padding-top: 60px;
    padding-bottom: 300px;
  }

  @include vp-720 {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &_subTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #0087ea;

    @include vp-1080 {
      font-size: 22px;
    }

    @include vp-720 {
      font-size: 18px;
    }
  }

  &_title {
    margin-top: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      margin-top: 10px;
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &_descritpion {
    margin-top: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);

    @include vp-1080 {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  &_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;

    @include vp-1080 {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  }

  &_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 380px;
    padding: 30px;

    @include vp-1080 {
      width: 320px;
      height: 350px;
    }

    @include vp-720 {
      max-width: 320px;
      width: 100%;
      height: initial;
      min-height: 340px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    h3 {
      position: relative;
      z-index: 3;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 28px;
      line-height: 130%;
      text-align: center;
      color: #fff;
    }

    p {
      margin-top: 10px;
      position: relative;
      z-index: 3;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.animate {
  animation: fade 0.5s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallery {
  &_mainImgWrapper {
    position: relative;
  }

  &_mainImg {
    width: 100%;
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  &_frame {
    position: absolute;
    z-index: 2;
    right: 11.5%;
    top: 29%;

    @include vp-1080 {
      top: -40%;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 900px) {
      top: -50%;
    }

    @include vp-720 {
      display: none;
    }
  }

  &_frameMobile {
    display: none;

    &.frame {
      border: none;
      box-shadow: none;
    }

    @include vp-720 {
      display: block;
      margin-bottom: 15px;
    }
  }

  &_btnList {
    position: absolute;
    bottom: 12.5%;
    left: 11.5%;
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include vp-1080 {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    @include vp-720 {
      gap: 15px;
    }
  }

  &_btnItem {
    border: 2px solid #fff;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    transition: $trans-default;
    overflow: hidden;
    cursor: pointer;

    @include vp-720 {
      border: 1px solid #fff;
      width: 45px;
      height: 45px;
    }

    &:hover {
      transform: scale(1.1);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &--active {
      border: 4px solid #0087ea;

      @include vp-720 {
        border: 2px solid #0087ea;
      }
    }
  }
}

.frame {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
  width: 350px;
  min-height: 332px;
  background: #fff;

  @include vp-720 {
    width: 100%;
    max-width: 350px;
    padding: 20px;
  }

  &_title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    color: #000;
  }

  &_description {
    margin-top: 20px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: rgba(0, 0, 0, 0.7);
  }

  &_priceRow {
    margin-top: 20px;
  }

  &_price {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #0087ea;
  }

  &_priceOld {
    margin-left: 5px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
  }

  &_buyBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background: #0087ea;
    border-radius: 4px;
    padding: 20px 40px;
    height: 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    transition: $trans-default;

    &:hover,
    &:focus {
      background: rgba(0, 135, 234, 0.8);
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &_textContainer {
    margin-top: 95px;

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 500px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &_container {
    display: flex;
    gap: 125px;
    width: 100%;
    max-width: 1110px;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      gap: 0;
    }
  }

  &_subTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #0087ea;

    @media (max-width: 1200px) {
      text-align: center;
    }
  }

  &_title {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    color: #000;

    @media (max-width: 1200px) {
      margin-top: 10px;
      text-align: center;
    }

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 15px;

    @include vp-1080 {
      margin-top: 10px;
    }

    p {
      margin-bottom: 0;
      margin-top: 12px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 133%;
      color: rgba(0, 0, 0, 0.7);

      @media (max-width: 1200px) {
        text-align: center;
        margin-top: 8px;
      }
    }
  }

  &_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 20px 32px;
    width: 163px;
    min-height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #0087ea;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-top: 32px;

    transition: $trans-default;

    @include vp-1080 {
      margin-top: 15px;
    }

    &:hover,
    &:focus {
      background: rgba(0, 135, 234, 0.8);
    }
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f8fa;
  padding: 100px 20px;
  text-align: center;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &_description {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    max-width: 720px;

    @include vp-1080 {
      max-width: 500px;
      font-size: 20px;
      margin-top: 10px;
    }

    @include vp-720 {
      font-size: 16px;
    }
  }

  &_list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    margin-top: 80px;

    @include vp-1080 {
      margin-top: 30px;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 40px 32px;
    width: 350px;
    min-height: 316px;
    background: #fff;

    @include vp-1080 {
      padding: 40px;
    }

    @include vp-720 {
      max-width: 320px;
      width: 100%;
    }
  }

  &_avatar {
    border-radius: 50%;
  }

  &_text {
    margin-top: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      margin-top: 15px;
      font-size: 20px;
    }

    @include vp-720 {
      font-size: 18px;
    }
  }

  &_author {
    margin-top: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      margin-top: 15px;
      font-size: 16px;
    }

    @include vp-720 {
      font-size: 14px;
    }
  }

  &_profession {
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
  }
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  background: #0087ea;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
    list-style: none;

    @include vp-1080 {
      margin-top: 30px;
      gap: 20px;
    }
  }
}

.ourCases {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #0087ea;

    @include vp-720 {
      font-size: 18px;
    }
  }

  &__title {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      margin-top: 10px;
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &__description {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);

    @include vp-1080 {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 65px;

    @include vp-1080 {
      margin-top: 30px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 255px;
    height: 300px;
    padding: 30px 20px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    h3 {
      position: relative;
      z-index: 3;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 28px;
      line-height: 130%;
      text-align: center;
      color: #fff;
    }

    p {
      margin-top: 10px;
      position: relative;
      z-index: 3;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.partners {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.4) url('../img/partners-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #fff;

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &__description {
    margin-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    max-width: 720px;

    @include vp-1080 {
      margin-top: 10px;
      font-size: 20px;
    }

    @include vp-720 {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 60px;

    @include vp-1080 {
      margin-top: 30px;
    }
  }
}

.customInput {
  width: 100%;
  height: auto;

  input {
    width: 100%;
    padding: 14px 18px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #333;
    outline: none;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: rgba(0, 0, 0, 0.2);
    }

    transition: $trans-default;

    &:hover,
    &:focus {
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }
}

.customToggle {
  input[type='radio'] {
    display: none;
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #333;

    transition: $trans-default;

    &:hover,
    &:focus {
      color: #000000;
    }
  }

  label::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: $tf-default;
  }

  input[type='radio']:checked + label:before {
    background: transparent;
    border: 8px solid #0087ea;
    border-radius: 50%;
  }
}

.order {
  padding: 100px 20px;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    text-align: center;
    color: #000;

    @include vp-1080 {
      font-size: 45px;
    }

    @include vp-720 {
      font-size: 30px;
    }
  }

  &__description {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #333;
  }

  &__form {
    width: 100%;
    margin-top: 25px;
  }

  &__input {
    margin-top: 15px;
  }

  &__radio {
    margin-top: 30px;
  }

  &__radioTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
    margin-bottom: 20px;
  }

  &__radioItem {
    margin-bottom: 20px;
  }

  &__submitBtn {
    margin-top: 30px;
    background: #0087ea;
    width: 100%;
    min-height: 56px;
    padding: 20px 40px;
    border-radius: 6px;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;

    transition: $trans-default;

    &:hover,
    &:focus {
      background: rgba(0, 135, 234, 0.8);
    }
  }

  &__terms {
    margin-top: 23px;
    padding: 0 45px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);

    @include vp-720 {
      padding: 0;
    }

    a {
      list-style: none;
      color: #0087ea;
      transition: $trans-default;

      &:hover,
      &:focus {
        color: rgba(0, 135, 234, 0.8);
      }
    }
  }
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #0087ea;
  justify-items: center;

  @include vp-1080 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: transparent;
  }

  &__text {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    flex-direction: column;
    width: 100%;
    max-width: 300px;

    @include vp-1080 {
      margin-left: 0;
      min-height: 250px;
      background: #0087ea;
      max-width: initial;
    }

    @include vp-720 {
      padding: 0 20px;
      word-wrap: break-word;
      text-align: center;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    color: #fff;
    text-align: left;

    @include vp-1080 {
      text-align: center;
    }
  }

  &__item {
    display: block;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.8);
    transition: $trans-default;

    @include vp-1080 {
      text-align: center;
    }

    &--phone {
      margin-top: 19px;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    &--email {
      color: #fff;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    &--adress {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
  overflow: hidden;

  @include vp-1080 {
    padding: 50px 20px;
  }

  &__socialList {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
  }

  &__socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #0087ea;
    width: 56px;
    height: 56px;

    transition: $trans-default;

    &:hover,
    &:focus {
      background: rgba(0, 135, 234, 0.8);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

    @include vp-1080 {
      margin-top: 20px;
    }

    @include vp-720 {
      flex-direction: column;
      align-items: center;
      justify-content: initial;
      gap: 15px;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.8);

    transition: $trans-default;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 1);
    }
  }

  &__copyright {
    margin-top: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.6);

    @include vp-1080 {
      margin-top: 20px;
    }
  }
}
