*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
:root {
  --font-family: "Stem", sans-serif;
  --second-family: "Gilroy", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: #000;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 34px 40px;
  background-color: #ffffff;
  color: rgba(20, 20, 21, 0.8);
}
@media (max-width: 1200px) {
  .header {
    padding: 20px;
  }
}
.header__logo {
  color: #0087ea;
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  margin-right: 10px;
}

.main-nav {
  margin-top: 4px;
}
.main-nav__wrapper {
  display: flex;
}
.main-nav__list {
  display: flex;
  margin: 0;
  margin-right: 20px;
  margin-left: 60px;
  padding: 0;
  gap: 4px;
  list-style: none;
}
.main-nav__item {
  margin-right: 20px;
}
.main-nav__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: right;
  color: rgba(20, 20, 21, 0.8);
  transition: 0.3s ease;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: rgb(20, 20, 21);
}
.main-nav__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: right;
  color: #141415;
  transition: 0.3s ease;
}
@media (max-width: 1200px) {
  .main-nav__phone {
    display: none;
  }
}
.main-nav__phone:hover, .main-nav__phone:focus {
  color: rgba(20, 20, 21, 0.8);
}
.main-nav__toggle {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 30px;
  background-color: #ffffff;
}

.menu > li {
  margin: 0 12px;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li:last-of-type {
    height: 3em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #222;
    background-color: #ffffff;
  }
}
@media (max-width: 1200px) and (max-width: 400px) {
  .menu {
    margin-top: 103px;
  }
}
.description {
  width: 100%;
  display: grid;
  grid-template-columns: 51% 1fr;
}
@media (max-width: 720px) {
  .description {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.description__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1080px) {
  .description__left {
    padding-left: 20px;
  }
}
@media (max-width: 720px) {
  .description__left {
    padding: 0 20px;
    padding-bottom: 20px;
  }
}
.description__textWrapper {
  margin-bottom: 2px;
  margin-left: 40px;
  width: 445px;
}
@media (max-width: 1080px) {
  .description__textWrapper {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 720px) {
  .description__textWrapper {
    margin-top: 20px;
  }
}
.description__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 106%;
  color: #000000;
}
@media (max-width: 1080px) {
  .description__title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .description__title {
    font-size: 30px;
  }
}
.description__slogan {
  margin-top: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1080px) {
  .description__slogan {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .description__slogan {
    margin-top: 10px;
    font-size: 16px;
  }
}
.description__btnBlock {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
@media (max-width: 1080px) {
  .description__btnBlock {
    margin-top: 20px;
    gap: 15px;
  }
}
@media (max-width: 720px) {
  .description__btnBlock {
    flex-wrap: wrap;
  }
}
.description__servicesBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px 20px;
  width: 124px;
  min-height: 56px;
  background: #0087ea;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  transition: 0.3s ease;
}
.description__servicesBtn:hover, .description__servicesBtn:focus {
  background: rgba(0, 135, 234, 0.8);
}
.description__aboutBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 10px 20px;
  width: 167px;
  min-height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #0087ea;
  transition: 0.3s ease;
}
.description__aboutBtn:hover, .description__aboutBtn:focus {
  opacity: 0.6;
}
.description__label {
  margin-top: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.4);
}
.description__img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f7f8fa;
}
@media (max-width: 1080px) {
  .services {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}
@media (max-width: 720px) {
  .services {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.services_subTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #0087ea;
}
@media (max-width: 1080px) {
  .services_subTitle {
    font-size: 22px;
  }
}
@media (max-width: 720px) {
  .services_subTitle {
    font-size: 18px;
  }
}
.services_title {
  margin-top: 18px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 106%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .services_title {
    margin-top: 10px;
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .services_title {
    font-size: 30px;
  }
}
.services_descritpion {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1080px) {
  .services_descritpion {
    margin-top: 10px;
    font-size: 20px;
  }
}
.services_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}
@media (max-width: 1080px) {
  .services_list {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
.services_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  height: 380px;
  padding: 30px;
}
@media (max-width: 1080px) {
  .services_item {
    width: 320px;
    height: 350px;
  }
}
@media (max-width: 720px) {
  .services_item {
    max-width: 320px;
    width: 100%;
    height: initial;
    min-height: 340px;
  }
}
.services_item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.services_item h3 {
  position: relative;
  z-index: 3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.services_item p {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.animate {
  animation: fade 0.5s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery_mainImgWrapper {
  position: relative;
}
.gallery_mainImg {
  width: 100%;
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
}
@media (max-width: 500px) {
  .gallery_mainImg {
    aspect-ratio: 4/3;
  }
}
.gallery_frame {
  position: absolute;
  z-index: 2;
  right: 11.5%;
  top: 29%;
}
@media (max-width: 1080px) {
  .gallery_frame {
    top: -40%;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 900px) {
  .gallery_frame {
    top: -50%;
  }
}
@media (max-width: 720px) {
  .gallery_frame {
    display: none;
  }
}
.gallery_frameMobile {
  display: none;
}
.gallery_frameMobile.frame {
  border: none;
  box-shadow: none;
}
@media (max-width: 720px) {
  .gallery_frameMobile {
    display: block;
    margin-bottom: 15px;
  }
}
.gallery_btnList {
  position: absolute;
  bottom: 12.5%;
  left: 11.5%;
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1080px) {
  .gallery_btnList {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 720px) {
  .gallery_btnList {
    gap: 15px;
  }
}
.gallery_btnItem {
  border: 2px solid #fff;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  transition: 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 720px) {
  .gallery_btnItem {
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
  }
}
.gallery_btnItem:hover {
  transform: scale(1.1);
}
.gallery_btnItem img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery_btnItem--active {
  border: 4px solid #0087ea;
}
@media (max-width: 720px) {
  .gallery_btnItem--active {
    border: 2px solid #0087ea;
  }
}

.frame {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
  width: 350px;
  min-height: 332px;
  background: #fff;
}
@media (max-width: 720px) {
  .frame {
    width: 100%;
    max-width: 350px;
    padding: 20px;
  }
}
.frame_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  color: #000;
}
.frame_description {
  margin-top: 20px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  color: rgba(0, 0, 0, 0.7);
}
.frame_priceRow {
  margin-top: 20px;
}
.frame_price {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #0087ea;
}
.frame_priceOld {
  margin-left: 5px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.7);
}
.frame_buyBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  background: #0087ea;
  border-radius: 4px;
  padding: 20px 40px;
  height: 40px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  transition: 0.3s ease;
}
.frame_buyBtn:hover, .frame_buyBtn:focus {
  background: rgba(0, 135, 234, 0.8);
}

.about {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
@media (max-width: 1080px) {
  .about {
    padding: 50px 20px;
  }
}
.about_textContainer {
  margin-top: 95px;
}
@media (max-width: 1200px) {
  .about_textContainer {
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about_container {
  display: flex;
  gap: 125px;
  width: 100%;
  max-width: 1110px;
}
@media (max-width: 1200px) {
  .about_container {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 0;
  }
}
.about_subTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #0087ea;
}
@media (max-width: 1200px) {
  .about_subTitle {
    text-align: center;
  }
}
.about_title {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  color: #000;
}
@media (max-width: 1200px) {
  .about_title {
    margin-top: 10px;
    text-align: center;
  }
}
@media (max-width: 1080px) {
  .about_title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .about_title {
    font-size: 30px;
  }
}
.about_description {
  margin-top: 15px;
}
@media (max-width: 1080px) {
  .about_description {
    margin-top: 10px;
  }
}
.about_description p {
  margin-bottom: 0;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1200px) {
  .about_description p {
    text-align: center;
    margin-top: 8px;
  }
}
.about_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 20px 32px;
  width: 163px;
  min-height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  background: #0087ea;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  transition: 0.3s ease;
}
@media (max-width: 1080px) {
  .about_btn {
    margin-top: 15px;
  }
}
.about_btn:hover, .about_btn:focus {
  background: rgba(0, 135, 234, 0.8);
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f8fa;
  padding: 100px 20px;
  text-align: center;
}
@media (max-width: 1080px) {
  .feedback {
    padding: 50px 20px;
  }
}
.feedback_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 106%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .feedback_title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .feedback_title {
    font-size: 30px;
  }
}
.feedback_description {
  margin-top: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  max-width: 720px;
}
@media (max-width: 1080px) {
  .feedback_description {
    max-width: 500px;
    font-size: 20px;
    margin-top: 10px;
  }
}
@media (max-width: 720px) {
  .feedback_description {
    font-size: 16px;
  }
}
.feedback_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-top: 80px;
}
@media (max-width: 1080px) {
  .feedback_list {
    margin-top: 30px;
  }
}
.feedback_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px 32px;
  width: 350px;
  min-height: 316px;
  background: #fff;
}
@media (max-width: 1080px) {
  .feedback_item {
    padding: 40px;
  }
}
@media (max-width: 720px) {
  .feedback_item {
    max-width: 320px;
    width: 100%;
  }
}
.feedback_avatar {
  border-radius: 50%;
}
.feedback_text {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .feedback_text {
    margin-top: 15px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .feedback_text {
    font-size: 18px;
  }
}
.feedback_author {
  margin-top: 35px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .feedback_author {
    margin-top: 15px;
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .feedback_author {
    font-size: 14px;
  }
}
.feedback_profession {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  line-height: 138%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  background: #0087ea;
}
@media (max-width: 1080px) {
  .certificates {
    padding: 50px 20px;
  }
}
.certificates__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
@media (max-width: 1080px) {
  .certificates__title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .certificates__title {
    font-size: 30px;
  }
}
.certificates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 65px;
  list-style: none;
}
@media (max-width: 1080px) {
  .certificates__list {
    margin-top: 30px;
    gap: 20px;
  }
}

.ourCases {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1080px) {
  .ourCases {
    padding: 50px 20px;
  }
}
.ourCases__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #0087ea;
}
@media (max-width: 720px) {
  .ourCases__subtitle {
    font-size: 18px;
  }
}
.ourCases__title {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 106%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .ourCases__title {
    margin-top: 10px;
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .ourCases__title {
    font-size: 30px;
  }
}
.ourCases__description {
  margin-top: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1080px) {
  .ourCases__description {
    margin-top: 10px;
    font-size: 20px;
  }
}
.ourCases__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 65px;
}
@media (max-width: 1080px) {
  .ourCases__list {
    margin-top: 30px;
  }
}
.ourCases__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 255px;
  height: 300px;
  padding: 30px 20px;
}
.ourCases__item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.ourCases__item h3 {
  position: relative;
  z-index: 3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}
.ourCases__item p {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.partners {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.4) url("../img/partners-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1080px) {
  .partners {
    padding: 50px 20px;
  }
}
.partners__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 106%;
  text-align: center;
  color: #fff;
}
@media (max-width: 1080px) {
  .partners__title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .partners__title {
    font-size: 30px;
  }
}
.partners__description {
  margin-top: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  max-width: 720px;
}
@media (max-width: 1080px) {
  .partners__description {
    margin-top: 10px;
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .partners__description {
    font-size: 18px;
  }
}
.partners__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 60px;
}
@media (max-width: 1080px) {
  .partners__list {
    margin-top: 30px;
  }
}

.customInput {
  width: 100%;
  height: auto;
}
.customInput input {
  width: 100%;
  padding: 14px 18px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #333;
  outline: none;
  transition: 0.3s ease;
}
.customInput input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.2);
}
.customInput input::placeholder {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.2);
}
.customInput input:hover, .customInput input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.customToggle input[type=radio] {
  display: none;
}
.customToggle label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #333;
  transition: 0.3s ease;
}
.customToggle label:hover, .customToggle label:focus {
  color: #000000;
}
.customToggle label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: ease;
}
.customToggle input[type=radio]:checked + label:before {
  background: transparent;
  border: 8px solid #0087ea;
  border-radius: 50%;
}

.order {
  padding: 100px 20px;
}
@media (max-width: 1080px) {
  .order {
    padding: 50px 20px;
  }
}
.order__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.order__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .order__title {
    font-size: 45px;
  }
}
@media (max-width: 720px) {
  .order__title {
    font-size: 30px;
  }
}
.order__description {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #333;
}
.order__form {
  width: 100%;
  margin-top: 25px;
}
.order__input {
  margin-top: 15px;
}
.order__radio {
  margin-top: 30px;
}
.order__radioTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #333;
  margin-bottom: 20px;
}
.order__radioItem {
  margin-bottom: 20px;
}
.order__submitBtn {
  margin-top: 30px;
  background: #0087ea;
  width: 100%;
  min-height: 56px;
  padding: 20px 40px;
  border-radius: 6px;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.order__submitBtn:hover, .order__submitBtn:focus {
  background: rgba(0, 135, 234, 0.8);
}
.order__terms {
  margin-top: 23px;
  padding: 0 45px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  line-height: 138%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 720px) {
  .order__terms {
    padding: 0;
  }
}
.order__terms a {
  list-style: none;
  color: #0087ea;
  transition: 0.3s ease;
}
.order__terms a:hover, .order__terms a:focus {
  color: rgba(0, 135, 234, 0.8);
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #0087ea;
  justify-items: center;
}
@media (max-width: 1080px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: transparent;
  }
}
.contacts__text {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 1080px) {
  .contacts__text {
    margin-left: 0;
    min-height: 250px;
    background: #0087ea;
    max-width: initial;
  }
}
@media (max-width: 720px) {
  .contacts__text {
    padding: 0 20px;
    word-wrap: break-word;
    text-align: center;
  }
}
.contacts__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 114%;
  color: #fff;
  text-align: left;
}
@media (max-width: 1080px) {
  .contacts__title {
    text-align: center;
  }
}
.contacts__item {
  display: block;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s ease;
}
@media (max-width: 1080px) {
  .contacts__item {
    text-align: center;
  }
}
.contacts__item--phone {
  margin-top: 19px;
}
.contacts__item--phone:hover, .contacts__item--phone:focus {
  opacity: 0.5;
}
.contacts__item--email {
  color: #fff;
}
.contacts__item--email:hover, .contacts__item--email:focus {
  opacity: 0.5;
}
.contacts__item--adress {
  margin-bottom: 0;
  margin-top: 20px;
}
.contacts__img img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .footer {
    padding: 50px 20px;
  }
}
.footer__socialList {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.footer__socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #0087ea;
  width: 56px;
  height: 56px;
  transition: 0.3s ease;
}
.footer__socialLink:hover, .footer__socialLink:focus {
  background: rgba(0, 135, 234, 0.8);
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
@media (max-width: 1080px) {
  .footer__links {
    margin-top: 20px;
  }
}
@media (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    gap: 15px;
  }
}
.footer__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease;
}
.footer__link:hover, .footer__link:focus {
  color: rgb(0, 0, 0);
}
.footer__copyright {
  margin-top: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 1080px) {
  .footer__copyright {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */