.description {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__textWrapper {
    width: 445px;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    color: $color-default-black;
  }

  &__slogan {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.7);
  }

  &__btnBlock {
    display: flex;
    gap: 30px;
  }

  &__servicesBtn {
    border-radius: 6px;
    padding: 20px 32px;
    width: 124px;
    height: 56px;
    background: $color-dodger-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #fff;
  }

  &__aboutBtn {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 20px 32px;
    width: 167px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
  }

  &__label {
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.4);
  }
}
