.header {
  display: flex;
  padding: 28px 0;
  background-color: $color-default-white;
  color: rgba(20, 20, 21, 0.8);

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: $color-dodger-blue;
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
  }
}
