<div class="description">
  <div class="description__left">
    <div class="description__textWrapper">
      <h2 class="description__title">Клининговая <br> компания</h2>
      <p class="description__slogan">Качественная уборка квартир, офисных и производственных помещений</p>
      <div class="description__btnBlock">
        <a class="description__servicesBtn" href="#">Услуги</a>
        <a class="description__aboutBtn" href="">О компании</a>
      </div>
      <p class="description__label">Скидка 15% на первую уборку</p>
    </div>

  </div>
  <img src="img/content/description-img.png" alt="">
</div>