<div class="services">
    <p class="services_subTitle">Наши услуги</p>
    <h2 class="services_title">Услуги</h2>
    <p class="services_descritpion">Мы оказываем наши услуги быстро и качественно</p>
    <ul class="services_list">
        <li class="services_item">
            <img src="img/content/services-1.png" alt="Мойка окон">
            <h3>Мойка окон</h3>
            <p>от 1 390 ₽</p>
        </li>
        <li class="services_item">
            <img src="img/content/services-2.png" alt="Регулярная уборка">
            <h3>Регулярная уборка</h3>
            <p>от 990 ₽</p>
        </li>
        <li class="services_item">
            <img src="img/content/services-3.png" alt="Промышленный клининг">
            <h3>Промышленный клининг</h3>
            <p>от 2 950 ₽</p>
        </li>
    </ul>

</div>