<header class="header @@if (context.mod) { header--@@mod }">
  <div class="container">   
    
    <span class="header__logo">
      Клининговая компания
    </span>   

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню" aria-pressed="false">
        <svg width="20" height="20" aria-hidden="true">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { is-active }" @@if (context.headerActiveLinkIndex !== 0) { href="#" }>О компании</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { is-active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Новости</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { is-active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Помощь</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { is-active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Отзывы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { is-active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Контакты</a>
          </li>
        </ul>
        <a class="main-nav__phone" href="">+7 495 123-45-67</a>
      </div>
    </nav>
  </div>
</header>
